body{
    margin:0;
    font-family: 'Lato', sans-serif;
}

div{
    margin: 0;
}


h1,h2,p{
    color: white;   
    margin: 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

.app{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.columna-datos-generales{
    width: 75%;
}
.columna-detalles{
    width: 25%;
}

.datos-generales{
    height: 100%;
    padding: 50px 0 0 15%;
}

.datos{
    display: flex;
    align-items: stretch;
    margin-top: 38%;
}

.columna{
    display: flex;
    flex-direction: column;
    height: 100%;
    background : #424949;
    opacity: 0.8;
}

.lugar-fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tablero{
    padding:7%; 
}
.titulo-tablero{
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    margin-bottom: 3%;
}

.tablero-detalles{
    display:flex;
    flex-direction:row; 
    justify-content: space-between;
}

.search {
    width: 40%;
}

.searchInputs{
    margin-top: 105 px;
    display: flex; 
}
.search input{
    width: 500px;
    height: 15px;
    border-radius: 5px;
    border: none;
    padding: 10%;
    font-size: 15px;
}

.searchIcon{
    display: grid;
    place-items: center;
    padding: 10px;
}